/***
Page sidebar
***/

/* IE8 fix */

.ie8 .page-sidebar {
  width: 195px;
  float: left;
  position: relative;
  margin-right: -100%;
}

/* Page Sidebar */

.page-sidebar,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
  /* Default sidebar menu */
  /* Compact sidebar menu */
  /* Compact hoverable sidebar menu */
}

.page-sidebar.navbar-collapse,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover.navbar-collapse {
  padding: 0;
  box-shadow: none;
}

.page-sidebar .page-sidebar-menu,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  /* 1st level links */
  /* all links */
}

.page-sidebar .page-sidebar-menu> li,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu> li {
  display: block;
  margin: 0;
  padding: 0;
  border: 0px;
}

/* Main menu item styling */
.page-sidebar .page-sidebar-menu> li> a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu> li> a {
  min-height: 78px;
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 17px 15px 15px 15px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}

.page-sidebar .page-sidebar-menu> li> a> .title,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu> li> a> .title {
  display: block;
  text-align: center;
  margin-top: 5px;
}

.page-sidebar .page-sidebar-menu> li> a> i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu> li> a> i {
  font-size: 24px;
  text-shadow: none;
  font-weight: 300;
  text-align: center;
}

.page-sidebar .page-sidebar-menu li> a> .badge,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li> a> .badge {
  float: right;
  margin-top: 1px;
  margin-right: 0px;
}

.page-sidebar .page-sidebar-menu .sub-menu,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu {
  list-style: none;
  padding: 0;
}

/* Sub menu item */
.page-sidebar .page-sidebar-menu .sub-menu li> a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li> a {
  display: block;
  margin: 0;
  padding: 9px 15px 9px 15px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  background: none;
}

  .page-sidebar {
    width: 195px;
    float: left;
    position: relative;
    margin-right: -100%;
  }

  /* Default Sidebar Menu With Hoverable Submenu */
  .page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu {
    display: none;
    width: 194px;
    z-index: 2000;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
  }
  .page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu> li> a {
    margin: 3px;
  }

  .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover> a> .arrow {
    display: block;
    float: right;
    position: absolute;
    right: 0;
    margin-top: -20px;
    background: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 12px double transparent;
    border-bottom: 12px double transparent;
    border-left: 0;
  }

  .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover> .sub-menu {
    z-index: 1;
    display: inline-block !important;
  }

  // arow placement 
  .page-sidebar-menu.page-sidebar-menu-hover-submenu> li:hover> a> .arrow {
    z-index: 1;
    right: 0px;
    margin-top: -36px;
  }
  
  .page-sidebar-menu.page-sidebar-menu-hover-submenu> li:hover> .sub-menu {
    margin-left: 195px;
    margin-top: -78px;
  }
  .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-hover-submenu> li:hover> .sub-menu {
    margin-left: -194px !important;
  }

 
